<h4>Terms of Service</h4> 

<p>
  By using this instance, you agree to the following rules:
  </br>
  <ul>
    <li>Don't post anything what's considered illegal in Germany.</li>
    <li>Don't use this instance for spamming.</li>
    <li>Don't try to hack this instance.</li>
    <li>Don't ask how to patch KDE under FreeBSD.</li>
  </ul>  
  Also, you agree that you won't complain if this instance disappears, and all your data too.
</p>

